@import url(https://fonts.googleapis.com/css?family=Dancing+Script|Roboto);
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap');

.panda-preloader {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #F1FDE7;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.panda-preloader > span {
    width: 100px;
}

.panda-preloader.panda-hidden {
    animation: pandaFadeOut 3s;
    animation-fill-mode: forwards;
}

@keyframes pandaFadeOut {
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
